.act-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.act-modal.enter-done {
    opacity: 1;
    pointer-events: visible;
}

.act-modal.exit {
    opacity: 0;
}

.act-modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    transition: all 0.3s ease-in-out;
    transform: translateY(-200px);
}

.act-modal.enter-done .act-modal-content {
    transform: translateY(0);
}

.act-modal.exit .act-modal-content {
    transform: translateY(-200px);
}

.act-modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.act-modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.act-modal-footer > * {
    margin: 0.25rem;
}

.act-modal-title {
    margin: 0;
}

.act-modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}