/* header style */
.flex-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
}

.flex-header-row  {
    margin: 0;
}

.flex-header-item-left {
    padding: 10px;
    flex: 50%;
}

.flex-header-item-middle {
    display: flex;
    flex: 50%;
    width: 100%;
}

.flex-header-item-right {
    display: flex;
    padding: 10px;
    flex: 50%;
    justify-content: flex-end;
    align-items: center;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 640px) {
    .flex-header-container {
        flex-direction: column;
    }

    .flex-header-item-middle {
        border-top: 1px solid;
        border-bottom: 1px solid;
        width: 100%;
    }
}

.header-top {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-around;
}

.header-top__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    color: inherit;
    text-decoration: inherit;
    font-family: Optima;
    font-size: 100px;
}

.header-logo-small{
    /*color: white !important;*/
    text-decoration: inherit;
    font-family: Optima;
    font-size: 25px;
    position:relative;
    left:-15px
}

/* flex container for header-top-navigation; */
/*.header-top__navbar {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    flex-flow: row wrap;*/
/*    justify-content: space-around;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    list-style: none;*/
/*}*/

/*.header-top__separator {*/
/*    width: 100%;*/
/*    border: none;*/
/*    height: 2px;*/
/*    margin-top: 2px;*/
/*    background-color: black;*/
/*}*/

/*.header-top__navigation {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    flex-flow: row wrap;*/
/*    justify-content: space-around;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    list-style: none;*/
/*}*/

/*.header-bottom {*/
/*    display: flex;*/
/*    flex: 1;*/
/*    justify-content: flex-end;*/
/*    align-items: center;*/
/*    margin-top: 6px;*/
/*}*/

/*.header-bottom__email {*/
/*    margin-right: 55px;*/
/*}*/

/*.header-bottom__phone {*/
/*    margin-right: 65px;*/
/*}*/

/*.header-bottom__bag {*/
/*    position: absolute;*/
/*    display: flex;*/
/*}*/

/*.header-bottom__bag-icon {*/
/*    position: relative;*/
/*    display: flex;*/
/*    left: -5px;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*}*/

/*.header-bottom__bag-count {*/
/*    position: absolute;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-family: RobotoRegular;*/
/*    right: 0px;*/
/*    top: -5px;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background-color: red;*/
/*    border-radius: 10px;*/
/*    color: white;*/
/*}*/
