.navbar {
    display: flex;
    flex-direction: row;
}

.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    margin-right: 16px;
    color: inherit;
    text-decoration: none !important;
    outline: none;
}
