.sidebar {
    position: absolute;
    top: 100px;
    left: 0;
    height: 100%;
    width: 185px;
    bottom: 0;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
    color: white
}
